:root {
  /* Colors in hsl format */
  --clr-white: 0 0% 100%;
  --clr-primary: 0 88% 60%;
  --clr-silver: 0 0% 29%;
  --clr-secondary: 202, 70%, 34%;
  --clr-link: 211, 100%, 50%;
  --clr-black: 0, 0%, 12%;
  --clr-black-2: 0, 0%, 7%;

  /* 1024px */
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-17: 1.0625rem;
  --fs-18: 1.125rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-36: 2.25rem;
  --fs-62: 3.875rem;
}
